.welcomesection2{
    height: 600px;
    background: linear-gradient(135deg, rgb(255, 255, 255) 100%, rgb(0, 0, 0));

}

.massage{
    font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: #5a5959;
  letter-spacing: 0.12px;
  line-height: 74px;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  
  overflow: visible;
    
}




#typedtext{
    font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;
}


.thirdsecton{

    height: 600px;
    box-sizing: border-box;
    background-color: black;
}

.massageE{
    font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: #d4d4d4;
  letter-spacing: 0.12px;
  line-height: 74px;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  
  overflow: visible;
    
}

